body {
  margin: 0px 0px 0px 0px;
  background-color: #006699;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  color: #000000;
}

#container {
  width: 760px;
  background-color: #00CCCC;
  margin: 0 auto 0 auto;
  padding: 0 0 0 0;
  text-align: left;
  border-radius: 20px;

}

#header{
  background-color: #006699;
  margin: 0 0 0 0;
  padding: 0 0 0 0;
  width:760px;
  height: 130px:
  border: 0 0 0 0;

}

#sidebar {
  float: left;
  width: 170px;
  font-weight: bold;
}

#sidebar ul{
  margin: 0 0 0 0;
  padding: 0 0 0 0;
  list-style-type: none;
}
/* sidebar a applies to all the a elements in the sidebar box.
*/
#sidebar a{
  display: block;
  padding: 3px 3px 5px 25px;
  background-color: #0099CC;
  color: #FFFFFF;
  border-bottom: 1px #D0EEF9 solid;
  text-decoration: none;
  border-radius: 5px;

}

#sidebar a:hover {
  background-color: #006699;
}

#sidebar a:visited {
  color: blue;
}

#sidebar #present {
  display: block;
  padding: 3px 3px 5px 25px;
  background-color: #ffffff;
  color: #000000;
  border-bottom: 1px #D0EEF9 solid;
  text-decoration: none;
}

#maincontent {
  background-color: #FFFFFF;
  margin-left: 170px;
  padding: 10px 20px 20px 10px;
  background-image:url(img/mainBack.jpg);
  background-repeat: no-repeat;
  background-position: right top;
  border-radius: 20px;


}

#boldtext {
  font-weight: bold;
  font-size: small;
  margin-top: 50px;

}

#button {
  float: right;
}

#button a{
  padding: 5px 25px 5px 25px;
  color:#ffffff;
  text-decoration: none;
  background-color: #00CCCC;
  color:#ffffff;
  text-align: center;
  border-radius: 5px;

}

#button a:hover {
  background-color: #006699;
}

h1{
  font-size: 1.5em;
}
h2{
  font-family: Arial, Helvetica, sans-serif;
  color: gray;
  font-weight: bold;
  font-size: 1.2em;
}
